html, body {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
}

db-bases,
db-batter,
db-controls,
db-game,
db-outs,
db-scorebox {
  display: block;
}

db-game {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  padding: 4px;
  background: repeating-linear-gradient(-45deg, #638653, #638653 20px, #718b4b 20px, #718b4b 40px);
}

.scorebox {
  box-sizing: border-box;
  width: 50vw;
  background: #f3f3f3;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}

.scoreboard {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  text-align: center;
}

.team-name {
  text-transform: capitalize;
}

db-batter {
  display: flex;
  width: 50vw;
  margin: 2px auto;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  background: #f3f3f3;
}

.dice-column {
  box-sizing: border-box;
  width: 33%;
}

.dice-roll {
  font-size: 1.1em;
  text-align: left;
  text-transform: uppercase;
}

.dice {
  font-size: 1.5em;
  line-height: 1em;
}

.active-roll {
  color: goldenrod;
}

.controls {
  box-sizing: border-box;
  width: 50vw;
  margin: 2px auto;
  padding: 10px;
  text-align: center;
  background: #f3f3f3;
}

.tray {
  font-size: 5em;
  line-height: 1em;
  margin: 2px auto;
  padding: 0 25px 25px;
  text-align: center;
  box-sizing: border-box;
  background: #f3f3f3;
}

.pitch {
  cursor: pointer;
  box-sizing: border-box;
  padding: 5px 10px;
  border: 0;
  background: #0c2c2c;
  color: #f3f3f3;
  font-weight: bold;
  text-transform: uppercase;
}